
github "kdisimone/LoopKit" "anna"
github "kdisimone/CGMBLEKit" "anna"
github "i-schuetz/SwiftCharts" == 0.6.2
github "kdisimone/dexcom-share-client-swift" "anna"
github "kdisimone/G4ShareSpy" "anna"
github "kdisimone/rileylink_ios" "anna"
github "LoopKit/Amplitude-iOS" "decreepify"
